/*::::::::::::::::::::::::::::::::Extra small devices (portrait phones, less than 576px)::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::No media query since this is the default in Bootstrap:::::::::::::::::::::::::::::::::::::::::*/

body,#wrapper{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	padding:0px;
	margin:0 auto;
}

/*div{border:1px solid black} /*for testing*/

/*:::::::::::::::PARALLAX::::::::::::::*/
.parallax{
	position:absolute;
}

.parallax>img{
	display:block;
	width:100%;
}
/*:::::::::::::::END PARALLAX::::::::::::::*/

#main-img{
	height:100%;
	background-color: #EAF6FA;
}


nav{
	background-color:#24313D;
}

#about>div{
	height:auto;
}

#desc{
	background-color:#F4EAEC;
}

#skills{
	background-color:#637E89;
}

.list-group-item{/*need to shorten these*/
}

#portfolio-header, #portfolio{
	background-color:#31353A;
}

#transition{
	background-color:#2D3F51;
}

#contact{
	background-color:#2D3F51;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::SMALL DEVICES(landscape phones, 576px and up)::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (min-width: 576px) {
	
}





/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::MEDIUM DEVICES (tablets, 768px and up):::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (min-width: 768px) {
	#about{
		height:700px;
	}

	#skills{
		overflow-y:scroll;
	}
}





/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::LARGE DEVICES (desktops, 992px and up)::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media(min-width: 992px) {
	
}





/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::EXTRA LARGE DEVICES (large desktops, 1200px and up)::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (min-width: 1200px) {
	
}